[run]
source = agr_literature_service
# routers NOT tested here. just method calls.
omit =
        agr_literature_service/api/routers/*
        agr_literature_service/lit_processing/oneoff_scripts/*
	agr_literature_service/lit_processing/end_of_year_update/*
        agr_literature_service/lit_processing/tests/*
        tests/test_debezium_integration.py
        *__init__*
        agr_literature_service/lit_processing/utils/email_utils.py
        agr_literature_service/lit_processing/utils/s3_utils.py
        agr_literature_service/api/s3/*
        agr_literature_service/lit_processing/utils/report_utils.py

	# we are no longer running load_dqm_resource.py and this script calls the functions
	# in dqm_resource_update_utils.py and resource_reference_utils.py
	# so skip the tests for these three files for now until we are ready to revisit
	# the dqm resource loading
	agr_literature_service/lit_processing/data_ingest/dqm_ingest/load_dqm_resource.py
	agr_literature_service/lit_processing/data_ingest/dqm_ingest/utils/dqm_resource_update_utils.py
	agr_literature_service/lit_processing/utils/resource_reference_utils.py

	# can't really test the following files (download files from PMC and search PubMed/PMC)
	# will look into these scripts/utils at a later time
	agr_literature_service/lit_processing/data_ingest/pubmed_ingest/pubmed_download_pmc_files.py
	agr_literature_service/lit_processing/data_ingest/pubmed_ingest/pubmed_identify_main_pdfs.py
	agr_literature_service/lit_processing/data_ingest/pubmed_ingest/pubmed_update_references_by_doi.py

        # to be added back when we have unit tests for them
        agr_literature_service/lit_processing/data_ingest/dqm_ingest/sort_dqm_json_reference_updates.py
        agr_literature_service/lit_processing/data_ingest/dqm_ingest/sort_dqm_json_resource_updates.py
        agr_literature_service/lit_processing/data_ingest/dqm_ingest/utils/dqm_processing_utils.py
        agr_literature_service/lit_processing/data_ingest/dqm_ingest/utils/md5sum_utils.py
        agr_literature_service/lit_processing/data_ingest/pubmed_ingest/pubmed_search_new_references.py
        agr_literature_service/lit_processing/data_ingest/pubmed_ingest/pubmed_update_resources_nlm.py
	agr_literature_service/lit_processing/data_ingest/utils/file_processing_utils.py

	# pretty much all functions related to topic end entity tags require A-team API calls and are thus web tests only
	agr_literature_service/api/crud/ateam_db_helpers.py
	agr_literature_service/api/crud/topic_entity_tag_crud.py
	agr_literature_service/api/crud/topic_entity_tag_crud_utils.py
	
[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
