__pycache__/
Pipfile.lock
junk
htmlcov
agr_literature_service/lit_processing/pubmed_json
agr_literature_service/lit_processing/pubmed_xml
agr_literature_service/lit_processing/reference_primary_id_to_curie
src/xml_processing/resource_primary_id_to_curie
src/xml_processing/junk
src/xml_processing/past_runs
agr_literature_service/lit_processing/inputs
src/xml_processing/J_Medline.txt
src/xml_processing/auth0_token
agr_literature_service/lit_processing/okta_token
src/xml_processing/pmids_by_mods
agr_literature_service/lit_processing/pmids_not_found

src/xml_processing/code/venv/
*.coverage
.idea/*
.vscode/*