[mypy]
ignore_missing_imports = True
follow_imports = skip
# drop your one‐off scripts and the Pydantic stub file
exclude = ^(agr_literature_service/lit_processing/oneoff_scripts/|.*/site-packages/pydantic_core/_pydantic_core\.pyi)$

# if you still see Pydantic stub errors, skip that entire module
[mypy-pydantic_core.*]
ignore_errors = True
