[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
yapf = "*"
pre-commit = "*"
flake8-bugbear = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
waitress = "*"
flask-apispec = "*"
wheel = "*"
xmltodict = "*"
marshmallow-enum = "*"
flask-migrate = "*"
flask-continuum = "*"
flask-script = "*"
python-dotenv = "*"
psycopg2-binary = "*"
boto3 = "*"
pgsync = "*"
marshmallow_sqlalchemy = "*"
requests = "*"

[requires]
python_version = "3.6"

[scripts]
# Install the pre-commit hook
setup_dev = "sh -c \"pre-commit install\""
