# Build Tools
setuptools>=67.0.0           # Ensure up-to-date setuptools.
wheel>=0.40.0                # Ensure up-to-date wheel.

# Core Dependencies
sqlalchemy==2.0.7            # Upgrade to SQLAlchemy 2.0.x.
fastapi==0.116.1             # version to match starlette
fastapi-health==0.4.0        # No update needed.
uvicorn[standard]==0.23.1    # Updated for compatibility with FastAPI.
starlette==0.47.1            # 
aiofiles==23.1.0             # Updated for better performance.
alembic==1.14.1              # Upgrade for compatibility with SQLAlchemy 2.0.x.
async-exit-stack==1.0.1      # No update needed.
async-generator==1.10        # No update needed.
asyncpg==0.27.0              # Updated for compatibility.
psycopg2-binary==2.9.8       # Updated for better compatibility with newer PostgreSQL.

# Security and Authentication
passlib==1.7.4               # No update needed.
bcrypt==3.2.2                # Updated for security.
python-jose>=3.4.0           # Updated for security.
python-multipart>=0.0.18     # updated for security fix/
python-dotenv==1.0.0         # Updated for new features.

# SQLAlchemy Utilities
sqlalchemy_utils==0.38.0     # Upgrade to be compatible with SQLAlchemy 2.0.x.
databases[postgresql]==0.9.0  # Upgrade for compatibility with SQLAlchemy 2.0.x.
pytz==2023.3                 # Updated for timezone data.
sqlalchemy_continuum==1.4.0  # Upgrade for compatibility with SQLAlchemy 2.0.x.

# FastAPI Auth
fastapi_auth0==0.3.0         # Updated for compatibility.

# AWS SDK for Python
boto3==1.28.3                # Updated for new features.

# Graph Visualization
pydot==1.4.2                 # No update needed.
sqlalchemy_schemadisplay==2.0.0 # Upgrade for compatibility with SQLAlchemy 2.0.x.

# GitHub Dependency
git+https://github.com/alliance-genome/agr_fastapi_okta@v1.3#egg=fastapi_okta # Latest version from the repo.

# HTTP and Networking
requests==2.31.0             # Updated for bug fixes and improvements.
urllib3==1.26.16             # No update needed.

# XML Processing
bs4==0.0.1                   # No update needed.

# Elasticsearch and Caching
elasticsearch==7.13.4        # No update needed.
retry==0.9.2                 # No update needed.
cachetools==5.3.1            # Updated for better performance.
lxml==4.9.4
