pytest==6.2.2
pytest-cov==2.11.1
flake8==3.8.4
yapf==0.30.0
pre-commit==2.10.1
flake8-bugbear==20.11.1
sphinx
livereload
myst-parser
mypy==0.910
types-PyYAML
types-aiofiles
types-orjson
types-pytz
types-requests
types-ujson
types-docutils
types-python-dateutil
