pytest==7.4.0
pytest-cov==4.1.0
flake8==6.1.0
yapf==0.40.0
pre-commit==3.4.0
flake8-bugbear==23.9.28
sphinx==7.2.6
livereload==2.6.3
myst-parser==2.0.0
mypy==1.5.1
types-PyYAML==6.0.12.12
types-aiofiles==23.2.0.0
types-orjson==3.9.5.0
types-pytz==2023.3.1.1
types-requests==2.31.0.6
types-ujson==5.8.0.1
types-docutils==0.20.0.3
types-python-dateutil==2.8.19.14
types-retry==0.9.9.4
types-cachetools==5.3.0.6
